*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    position: relative;
    border-radius: 15px;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Generic styling */

body{
	font-family: Calibri !important;
    letter-spacing: 0.030em;
	background: rgb(255, 255, 255);
    padding: 10px;
}


/* Colore e testo Titolo*/
h1{
	text-align: center;
	color: rgb(154,58,58);
}


.content{
	width: 100%;
	/*max-width: 1142px;
	max-width: 1920px;*/
	margin: 0 auto;
	padding: 0 20px;
}



a:focus{
	outline: 2px dashed #f7f7f7;
}

@media screen and (max-width: 767px){
	.content{
		padding: 0 20px;
	}	
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;		
}

ul a{
	display: block;
    background: white;
    /* bordo delle box, spessore */
	border: 2px solid black;
	text-align: center;

	overflow: hidden;
	font-size: 1.1em;
	text-decoration: none;
    font-weight: bold;
    /* scritta */
	color: #333;
	height: 80px;
    margin-bottom: -26px;
   	box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
   	/*
	-webkit-transition: all linear .1s;
	-moz-transition: all linear .1s;
	transition: all linear .1s;
	*/
}

@media screen and (max-width: 767px){
	ul a{
		font-size: 1em;
	}
}


ul a span{
    top: 0%;
	margin-top: 0.5em;
	display: block;
}

.macro_area:first-child,
.father li:nth-child(2){
	margin-left: 0px;
	clear: left;
}

/*restante vericale*/

.macro_area{
	border-left: 4px solid rgb(192, 80, 77);
	width: 18.59894921190893%;
	float: left;
	margin-left: 1.751313485113835%;
	margin-bottom: 60px;
	text-transform: uppercase
}


.lt-ie8 .macro_area{
	width: 18.25%;
}


/*visibile solo restringendo*/

@media screen and (max-width: 767px){
	.macro_area{
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.macro_area:before{
		content: "";
		display: block;
		position: absolute;
		width: 0;
        height: 60px;
        border-left: 4px solid rgb(192, 80, 77);
		z-index: 1;
		top: -60px;
		left: 0%;
		margin-left: -4px;
	}

	.macro_area:nth-child(2):before{
		display: none;
	}
}
/* MACRO AREA */
.macro_area > a{
	margin: 0 0 -26px -4px;
	z-index: 1;
}

/* HOVER DELLA MACRO AREA*/
/*.macro_area > a:hover{
	height: 80px;
}
*/

.macro_area > ul{
	margin-top: 0px;
	margin-bottom: 0px;
}

.macro_area li{
	padding-left: 25px;
	/*trattino di collegamento dei content / li */
    border-bottom: 4px solid rgb(192, 80, 77);
	height: 90px;
}


.macro_area li a{
	background: #fff;
	top: 48px;
	position: absolute;
	z-index: 1;
	width: 90%; /*larghezza rispetto a macroarea*/
	height: 85px;
	vertical-align: middle;
	right: -1px;
}

/*
.macro_area li a:hover{
	box-shadow: 8px 8px 9px -4px rgba(0,0,0,0.1);
	height: 80px;
	width: 95%;
	top: 39px;
	background-image: none!important;
}
*/

/* Macro_area/Content section colors */

.macro_area.num_1 a{ background: rgb(255, 162, 161); }
.macro_area.num_2 a{ background: rgb(218, 253, 167); }
.macro_area.num_3 a{ background: rgb(201, 181, 232); }
.macro_area.num_4 a{ background: rgb(158, 234, 255); }
.macro_area.num_5 a{ background: rgb(255, 190, 134); }
.macro_area.num_6 a{ background: rgb(255, 190, 134); }


.myul {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 15px;
    /*border: 1px solid #000;*/
}

.mybtn {
  background-color: #f6f6f6;
  border: 2px solid rgb(154,58,58);;
  color: rgb(154,58,58);;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow:   box-shadow: 24px 4px 9px -4px rgba(0,0,0,0.4);

}