<style>
body {
    padding-left: 15px;
}
h2 {
   text-align: center;
}
.roundbox {
  text-align:justify;
  border-radius: 25px;
  border: 4px solid rgb(255, 162, 161);
  padding: 20px;
  margin: 40px;
}
.topcorner{
   padding: 4px;
   position:absolute;
   top:10;
   right:10;
  }
.button {
  background-color: rgb(255, 162, 161);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}
</style>


{% autoescape off %}

<h2> {{ content_text.title }} </h2>
<br><br><br>
<div class="topcorner">
   <a href="/totem/{{ content_text.id}}/content" class="button">Informazioni Aggiuntive</a>
</div>
<div class="roundbox">
   {{ content_text.text }}
</div>

{% endautoescape %}