<style>
*{
    font-family: Verdana, sans-serif;
}

body {
    margin: 10px;
    padding-left: 15px;
}
h2 {
   text-align: center;
}
.myul {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 0;
    /*border: 1px solid #000;*/
}

.roundbox {
  text-align:justify;
  border-radius: 20px;
  border: 4px solid rgb(255, 162, 161);
  padding: 20px;
  margin: 10px;
}

.mybtn {
  background-color: #f6f6f6;
  border: 2px solid rgb(255, 162, 161);
  color: #333;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 4px #888888;
}

</style>


{% autoescape off %}

<ul class="myul">
    <li style="float:left;"><h2> {{ content_text.title | striptags | title }} </h2></li>

    <li><a href="/info/{{content_text.information_id}}/?area_id={{content_text.area_id}}&content_id={{content_text.id}}" class="mybtn">Informazioni Aggiuntive</a>
    </li>
</ul>

<div class="roundbox">
   {{ content_text.text }}
</div>

<div>

   <ul class="myul">
   {% for linked in linked_content %}
            <a href="#" class="mybtn">{{ linked.title | striptags | title}}</a>
   {% endfor %}
   </ul>
</div>


{% endautoescape %}