{% load static %}

<style>
*{
    font-family: Verdana !important;
}

body {
    margin: 10px;
}
h2 {
   text-align: center;
   {% if content_text.area.color %}
   color: {{ content_text.area.color }};
   {% endif %}
}
.myul {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 15px;
    /*border: 1px solid #000;*/
    margin-right: 10%;
    margin-left: 10%;
}

.roundbox {
  text-align:justify;
  border-radius: 20px;
  border: 4px solid {% if content_text.area.color %} {{ content_text.area.color }}; {% endif %}
  padding: 20px;
  margin-top: 30px;
  margin-right: 10%;
  margin-bottom: 30px;
  margin-left: 10%;
  padding-top:5%;
  padding-bottom: 5%;
}

.mybtn {
  background-color: #f6f6f6;
  border: 2px solid {% if content_text.area.color %} {{ content_text.area.color }}; {% endif %}
  color: #333;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: box-shadow: 24px 4px 9px -4px rgba(0,0,0,0.4);
<!--  box-shadow: 2px 4px #888888;-->
}

</style>


{% autoescape off %}
<div>
<ul class="myul">
    <li style="float:left;"><h2> {{ content_text.title | striptags | title }} </h2></li>
    <li><a href="/info/{{content_text.information_id}}/?area_id={{content_text.area_id}}&content_id={{content_text.id}}" class="mybtn">Informazioni Aggiuntive</a>
    </li>
</ul>
</div>
<div class="roundbox">
   {{ content_text.text }}
</div>

<div>

   <ul class="myul">
   {% for linked in linked_content %}
            <a href="{% url 'totem:content' linked.id %}" class="mybtn">{{ linked.title | striptags | title}}</a>
   {% endfor %}
   </ul>
</div>

<div>
   <ul class="myul">
      <li><a href="{% url 'totem:index' %}" class="mybtn">BACK</a></li>
      <li><a href="{% url 'totem:index' %}" class="mybtn">HOME</a></li>
      <li><a href="/map" class="mybtn">MAP</a></li>
   </ul>
</div>


{% endautoescape %}


<script src="{% static "totem/timeout.js" %}"></script>
