
{% load static %}

{% autoescape off %}

<link rel="stylesheet" type="text/css" href="{% static 'totem/style.css' %}" />

<div class="content">
    <h1>SERVIZI ALLE PERSONE</h1>
    <figure class="content">

<!--                <ul class="cf">-->

              <ul class="father cf">
                <ul></ul>
                {% for area in areas %}

                <li class="macro_area num_{{ area.id }}">


                  <a href="#"><span>{{ area.title | striptags }}</span></a>
                  <ul class="sections">

                      {% for content in area.contents %}
                      {% if content.level == 1 %}

                        <li class="section"><a style="background-color: white;" href="content/{{ content.id }}/"><span>{{ content.title | striptags }}</span></a></li>

                      {% endif %}
                      {% endfor %}

                  </ul>
                </li>
                {% endfor %}

              </ul>

    </figure>

</div>

<div>
   <ul class="myul">
      <li style="margin-left:50%; margin-right:50%;"><a href="/map" class="mybtn">[prova]MAPPA</a></li>
   </ul>
</div>





{% endautoescape %}

