
{% load static %}

{% autoescape off %}

<link rel="stylesheet" type="text/css" href="{% static 'totem/style.css' %}" />

<!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
-->

<div class="content">
    <h1>MAPPA DEI SERVIZI DEL CENTRO PER L'IMPIEGO</h1>
    <figure class="container">

              <ul class="father cf">

                <ul></ul>
                {% for area in areas %}

                <li class="macro_area num_{{ area.id }}">


                  <a href="#"><span>{{ area.title | striptags }}</span></a>
                  <ul class="sections">

                      {% for content in area.contents %}
                      {% if content.level == 1 %}

                        <li class="section"><a href="content/{{ content.id }}/"><span>{{ content.title | striptags }}</span></a></li>

                      {% endif %}
                      {% endfor %}

                  </ul>
                </li>
                {% endfor %}

              </ul>

    </figure>

</div>

<div>
    <a class="mappa" href="{% static 'totem/map1.png' %}">MAPPA</a>
</div>
<!--
<div class="container">
    <a class="btn btn-info" role="button" href="{% static 'totem/map1.png' %}">MAPPA</a>
</div>
-->

{% endautoescape %}

