{% load static %}

{% autoescape off %}

<style>
*{
   font-family: Verdana !important;
}

.tab {
   border-collapse: separate;
   border-spacing: 10px 30px;
   width: 90%;
   margin-left:auto;
   margin-right:auto;
}

.tab td, #tab th {
   border: 2px solid;
   padding: 20px;
   border-radius: 15px;
}

/*

.tab tr:nth-child(even){background-color: #f2f2f2;}

.tab tr:hover {background-color: #ddd;}
*/


.tab th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: rgb(255, 162, 161);
   color: white;
}
.titolo{
   color: red;
   text-align: center;
   padding-top: 20px;
}

.tag{
   margin-left: 90%;
   float:inline-end;
   margin-inline-end: 20px;
}
.tag a{
   text-decoration:none;
   border: 2px solid red;
   padding: 20;
   border-radius: 50%;
   color: black;
   background-color: linen;
}

a:visited {
  color: black;
}


.myul {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 15px;
    /*border: 1px solid #000;*/
}

.mybtn {
  background-color: #f6f6f6;
  border: 2px solid {% if content.area.color %} {{ content.area.color }}; {% endif %}
  color: #333;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: box-shadow: 24px 4px 9px -4px rgba(0,0,0,0.4);
}

</style>

<div class="titolo">
   <h2> {{ content.area|striptags }}</h2>
</div>
<table class="tab">

   <tr>
      <td>DOVE</td>
      <td style="border:0;">
         <img src="{% static "totem/arrow50.png" %}" alt="arrow50"></td>
      <td>{{ info_text.where.title | striptags }}
         <div class="tag">
            <a href="{% url 'totem:map' %}"> {{ info_text.where.tag }} </a>
         </div>
      </td>
   </tr>
   <tr>
      <td>COME</td>
      <td style="border:0;">
         <img src="{% static "totem/arrow50.png" %}" alt="arrow50"></td>
      </td>
      <td>{{ info_text.how }}</td>
   </tr>
   <tr>
      <td>QUANDO</td>
      <td style="border:0;">
         <img src="{% static "totem/arrow50.png" %}" alt="arrow50"></td>
      </td>
      <td>{{ info_text.when }}</td>
   </tr>
   <tr>
      <td>PER CHI</td>
      <td style="border:0;">
         <img src="{% static "totem/arrow50.png" %}" alt="arrow50"></td>
      </td>
      <td>{{ info_text.for_who }}</td>
   </tr>
</table>

<div>
   <ul class="myul">
      <li><a href="{% url 'totem:content'  content.id %}" class="mybtn">BACK</a></li>
      <li><a href="{% url 'totem:index' %}" class="mybtn">HOME</a></li>
      <li><a href="{% url 'totem:map' %}" class="mybtn">MAP</a></li>
   </ul>
</div>


{% endautoescape %}
