{% autoescape off %}

<!--
<style>
body {
    margin: 20px;
    padding-left: 15px;
}
h2 {
   text-align: center;
}
.roundbox {
  text-align:justify;
  border: 4px solid rgb(255, 162, 161);
  padding: 20px;
  margin: 40px;
}
.topcorner{
   padding: 4px;
   position:absolute;
   top:10;
   right:10;
  }
.button {
  background-color: rgb(255, 162, 161);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}
</style>
-->
<style>
.tab {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tab td, #tab th {
  border: 2px solid #ddd;
  padding: 8px;
}

.tab tr:nth-child(even){background-color: #f2f2f2;}

.tab tr:hover {background-color: #ddd;}

.tab th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(255, 162, 161);
  color: white;
}
</style>

<table class="tab">
   <tr>
      <th>Informazioni Aggiuntive</th>
      <th>{{ info_text.area }}</th>
   </tr>
   <tr>
      <td>Dove==></td>
      <td>{{ info_text.where.title }}</td>
      <td>{{ info_text.where.tag }}</td>
   </tr>
   <tr>
      <td>Come==></td>
      <td>{{ info_text.how }}</td>
   </tr>
   <tr>
      <td>Quando==></td>
      <td>{{ info_text.when }}</td>
   </tr>
   <tr>
      <td>Per chi==></td>
      <td>{{ info_text.for_who }}</td>
   </tr>
</table>

{% endautoescape %}
