{% load static %}
<style>
*{
   text-align: center;

}
.myul {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 15px;
    /*border: 1px solid #000;*/
}

.mybtn {
   background-color: #f6f6f6;
   border: 2px solid black;
   color: #333;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 8px;
   cursor: pointer;
   border-radius: 10px;
   box-shadow: box-shadow: 24px 4px 9px -4px rgba(0,0,0,0.4);
}

</style>
<div>
    <img src="{% static 'totem/map1.png' %}" alt="mappa">
</div>


<div>
   <ul class="myul">
      <li style="margin-left:50%; margin-right:50%;"><a href="{% url 'totem:index' %}" class="mybtn">HOME</a></li>
   </ul>
</div>