{% load static %}
<style>
*{
   text-align: center;

}
.myul {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 15px;
    /*border: 1px solid #000;*/
}

.mybtn {
   background-color: #f6f6f6;
   border: 2px solid black;
   color: #333;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 8px;
   cursor: pointer;
   border-radius: 10px;
   box-shadow: box-shadow: 24px 4px 9px -4px rgba(0,0,0,0.4);
}

</style>
<div>
    <img src="{% static 'totem/map1.png' %}" alt="mappa">
</div>


<div>
   <ul class="myul">
      <li style="margin-left:50%; margin-right:50%;"><a href="{% url 'totem:index' %}" class="mybtn">HOME</a></li>
   </ul>
</div>

<!--https://stackoverflow.com/questions/7071472/javascript-timeout-when-no-actions-from-user-for-specified-time-->
<script>
    attachEvent(window,'load',function(){

      var idleSeconds = 10;

      var idleTimer;
      function resetTimer(){
        clearTimeout(idleTimer);
        idleTimer = setTimeout(whenUserIdle,idleSeconds*1000);
      }
      attachEvent(document.body,'mousemove',resetTimer);
      attachEvent(document.body,'keydown',resetTimer);
      attachEvent(document.body,'click',resetTimer);

      resetTimer(); // Start the timer when the page loads
    });

    function whenUserIdle(){
      //...CAMBIARE QUI, SPOSTARE SCRIPT SU ALTRE PAGINE E RIMANDARE A HOMEPAGE
      window.location.href = "../";
    }

    function attachEvent(obj,evt,fnc,useCapture){
      if (obj.addEventListener){
        obj.addEventListener(evt,fnc,!!useCapture);
        return true;
      } else if (obj.attachEvent){
        return obj.attachEvent("on"+evt,fnc);
      }
    }
</script>